@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Auth0 ASP.NET Core MVC Starter Project</p>
    <p>To learn more, please check out the <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core">Auth0 ASP.NET Core Quickstart</a>.</p>
</div>
