@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
  To learn more about securing Blazor Server applications with <a href="https://auth0.com">Auth0</a>, check out&nbsp;<a href="https://auth0.com/blog/what-is-blazor-tutorial-on-building-webapp-with-authentication">this article</a>.
</div>

